<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sign In to School Account</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

    body {
        background-color: rgb(0, 122, 204);
    	color: white;

    }

    .container {
    padding: 40px;

    }

    select {
    margin-top: 40px;
    font-size: 32px;
    }


    </style>
  </head>

  <body>
<div class="title">
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading"> Select Subscription to Add</h2>
        <select>
        {% for subscription in subscriptions %}
        <option>{{ subscription }}</option>
        {% endfor %}


        </select>
         </div>
        </div>

        <div class="container">
        	<div class="row">
        		<div class="col-xs-4">
        			<button class="btn btn-lg btn-danger btn-block" type="submit"> Complete &raquo;</button>
        		</div>
        	</div>
        </div>

      </form>

    </div> <!-- /container -->
  </body>
</html>
